<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <h1>{{ user.name }}</h1>
  <h2>cities</h2>
  <img src="{{user.picture}}" alt="">
  <ul>
    {{#each user.favorites}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{#if user.admin}}
  <h3>zona secreta</h3>
  {{/if}}
  <a href="/bye">Adios</a>
  <a href="/hello">Home</a>
  <a href="/404">404</a>
</body>

</html>